body{background:#efefef;}
a{color:#184974;} a:hover{color:#10304c;}
h2 {font-size: 1.5rem; line-height: 1 !important; margin: 1.5rem 0 0 0;}

#header-wrapper {background: #333; border-bottom: 4px solid #efefef;}
.searchbox {border: 1px solid #7c7c7c; background: #545454;}

#sidebar a#logo {width: 100%; position: relative; }
#sidebar {background-image: linear-gradient(45deg, black, #0e7c9d);}
#sidebar a {color: #fff;}
#sidebar details {margin: 0 0 2px 0;font-size:1rem; user-select:none; background-image: linear-gradient(45deg, #1e1e1e, transparent);}
#sidebar details summary:before{content:"+"; display: inline-block; width: 20px; text-align: center; color:#fff; cursor:cell; font-weight:600;}
#sidebar details[open] {background-image: linear-gradient(45deg, #1e1e1e, transparent);}
#sidebar details[open] summary:before{content:"-";}
#sidebar details summary.active:before{color:#112e48;}
#sidebar details summary {display:revert; padding: 7px;}
#sidebar details summary::marker {display: none; content: "";}
#sidebar details summary:hover {background-image: linear-gradient(45deg, #ffffffd9, #bfbfbf57);}
#sidebar details summary:hover > a {color: #112e48;}
#sidebar details summary:hover:before {color: #112e48;}
#sidebar details summary:before:hover {color: red;}
#sidebar details .sub-menu {padding: 0 0 4px 0;}
#sidebar details a.details-item {display:inline-block; font-size:.9rem; margin: 0 0 2px 28px; padding:6px; background-image: linear-gradient(45deg, #04040473, transparent); display: block; line-height: 1; height: 30px;}
#sidebar details a.details-item:hover{background-image: linear-gradient(45deg, #ffffffd9, #bfbfbf57); color: #112e48;}


#sidebar ul li.active > a {background: #efefef; color:#112e48!important; margin: 0 0 2px 28px; padding:6px;}
#sidebar details summary.active {background: #efefef; color:#112e48!important;}
#sidebar details summary.active a {color:#112e48!important;}


.anchor{color:#112e48}
