{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
<script src="{{"quizdown/quizdown.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script src="{{"quizdown/quizdownKatex.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script src="{{"quizdown/quizdownHighlight.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script>quizdown.register(quizdownHighlight).register(quizdownKatex).init()</script> 